body {
  margin: 0px;
  height: 100vh;
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 26px;
}

.text {
  font-size: 130%;
  margin: 16px
}

@font-face {
  font-family: ps;
  src: url(https://cdn.glitch.com/2a8ea007-1802-41a7-8587-04da1998fbbc%2FProduct%20Sans.woff2?1554030376424);
}

.ps {
  font-family: ps, sans-serif;
}

.select_none {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.center {
  text-align: center;
}

#page {
  overflow: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #FAFAFA;
}

.text_box {
  margin: 1em
}

.img_box {
  float: left;
  margin: 1em;
  height: 128px;
  width: 128px;
  margin-right: 16px;
  margin-top: 1em;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #ececec;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.card {
  margin: 26px;
  margin-bottom: 64px;
  background-color: white;
  border-width: 2px;
  border-color: black;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid #ececec;
}

@media only screen and (max-width: 810px) {
  .header {
    display: none
  }
}

.header {
  width: 100%;
  border-bottom: 1px solid black;
  text-align: right;
  position: relative;
}

.header .logo {
  font-family: ps;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 32px;
  font-weight: 100;
  padding: 26px;
  border-right: 1px solid black;
}

.link {
  font-family: ps;
  display: inline-block;
  padding: 15px 0;
  margin: 15px 25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0f0f;
  font-weight: 800;
  font-size: 24px;
}

.link .bar {
  width: 100%;
  display: inline-block;
  border-bottom: 5px solid black;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 300ms;
}

.link:hover .bar {
  opacity: 1;
  bottom: 5px;
}